/*
	Combined Stylesheet
*/
/*
	Definitions
*/
/*
	Constants
*/
/*
	Hides text in the margin
*/
/*
	Turns a button into an icon
*/
/*
	Centres a graphic inside an icon
*/
/*
	Offers both the pixel and rem value of a single property
*/
/*
	Offers both the pixel and rem values of a shorthand property
*/
/*
	Offers the text size as both the pixel and rem value
*/
/*
	Adds vendor prefixed to a property
*/
/*
	Applies the "clearfix" hack to a container with floating content
*/
/*
	typography
*/
@media all {
  /* line 7, ../../src/scss/_typography.scss */
  *, *:after, *:before {
    box-sizing: border-box;
  }

  /* line 10, ../../src/scss/_typography.scss */
  html {
    font-family: Sans-Serif;
    font-size: 100%;
    height: 100%;
    min-height: 100%;
  }

  /* line 16, ../../src/scss/_typography.scss */
  body {
    _height: 100%;
    min-height: 100%;
    color: #333;
    line-height: 1.3;
    margin: 0;
    padding: 0;
  }

  /* line 24, ../../src/scss/_typography.scss */
  h1 {
    font-size: 22px;
  }

  /* line 27, ../../src/scss/_typography.scss */
  h2 {
    font-size: 18px;
  }

  /* line 30, ../../src/scss/_typography.scss */
  h3 {
    font-size: 16px;
  }

  /* line 33, ../../src/scss/_typography.scss */
  h1, h2, h3, p, ul, dl, table {
    margin-top: 0.7rem;
    margin-top: 10px\9;
    margin-bottom: 0.7rem;
    margin-bottom: 10px\9;
  }

  /* line 39, ../../src/scss/_typography.scss */
  ul {
    margin-left: 0;
    padding-left: 0;
  }
  /* line 42, ../../src/scss/_typography.scss */
  ul li {
    margin-left: 1.2em;
    margin-bottom: 0.7rem;
    margin-bottom: 10px\9;
  }

  /* line 48, ../../src/scss/_typography.scss */
  a {
    color: #0D47A1;
  }

  /* line 51, ../../src/scss/_typography.scss */
  img {
    border: none;
  }

  /* line 54, ../../src/scss/_typography.scss */
  *:focus {
    outline: none;
  }
}
@media (max-width: 768px) {
  /* line 61, ../../src/scss/_typography.scss */
  html {
    font-family: Sans-Serif;
    font-size: 87.5%;
    height: 100%;
  }
}
/*
	cover page
*/
@media all {
  /* line 7, ../../src/scss/_cover.scss */
  .ios-margins {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

  /* line 16, ../../src/scss/_cover.scss */
  #appView {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  /* line 21, ../../src/scss/_cover.scss */
  #appView.status-busy:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #000;
    background-image: url(../img/busy.gif);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
  }
}
/*
	header
*/
@media all {
  /* line 8, ../../src/scss/_header.scss */
  header.title {
    background-color: #fff;
    border-bottom: solid 1px #eee;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0;
    text-align: left;
    position: absolute;
    height: 4rem;
    left: 0;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 8;
  }
  /* line 21, ../../src/scss/_header.scss */
  header.title h1 {
    display: inline-block;
    font-size: 23px;
    font-weight: normal;
    height: 4rem;
    line-height: 4rem;
    margin: 0 0 0 0;
    vertical-align: middle;
  }
  /* line 29, ../../src/scss/_header.scss */
  header.title h1:before {
    background-image: url(../img/logo.svg);
    background-size: auto 36px;
    content: '';
    display: inline-block;
    height: 36px;
    margin-right: 0.3em;
    vertical-align: middle;
    width: 68px;
  }
  /* line 39, ../../src/scss/_header.scss */
  header.title h1 a {
    color: #0D47A1;
    text-decoration: none;
  }
  /* line 45, ../../src/scss/_header.scss */
  header.subtitle {
    border-bottom: solid 1px #eee;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    position: absolute;
    height: 4rem;
    left: 0;
    right: 0;
    top: 4rem;
    z-index: 8;
    cursor: pointer;
  }
  /* line 55, ../../src/scss/_header.scss */
  header.subtitle h2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    height: 4rem;
    position: relative;
    font-size: 1.166666666666667rem;
    text-decoration: none;
    margin: 0;
    font-weight: normal;
  }

  /* line 72, ../../src/scss/_header.scss */
  body.screen-menu header.subtitle,
  body.screen-overview header.subtitle,
  body.screen-about header.subtitle {
    visibility: hidden;
  }
}
@media (max-width: 800px) {
  /* line 82, ../../src/scss/_header.scss */
  header.title h1 {
    text-align: center;
  }
}
@media print {
  /* line 90, ../../src/scss/_header.scss */
  header.title, header.subtitle {
    display: none;
  }
}
/*
	footer
*/
@media all {
  /* line 5, ../../src/scss/_footer.scss */
  .toolbar {
    background-color: #fff;
    border-top: solid 1px #eee;
    box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0;
    text-align: center;
    position: absolute;
    height: 4rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
  /* line 21, ../../src/scss/_footer.scss */
  .toolbar nav {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  /* line 29, ../../src/scss/_footer.scss */
  .toolbar a {
    color: #0D47A1;
    display: inline-block;
    font-size: 14px;
    opacity: 0.5;
    padding: 0;
    text-align: center;
    text-decoration: none;
    min-width: 3rem;
    flex: 0 1 auto;
    color: #0D47A1;
    filter: grayscale(1);
  }
  /* line 42, ../../src/scss/_footer.scss */
  .toolbar a:before {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    content: '';
    display: block;
    height: 1.6rem;
    margin: 0 auto 2px;
    vertical-align: middle;
    width: 1.6rem;
  }

  /* icons per menu */
  /* line 56, ../../src/scss/_footer.scss */
  #footer-to-menu:before {
    background-image: url("../img/base.svg");
  }

  /* line 60, ../../src/scss/_footer.scss */
  #footer-to-overview:before {
    background-image: url("../img/languages.svg");
  }

  /* line 64, ../../src/scss/_footer.scss */
  #footer-to-guide:before {
    background-image: url("../img/info_2.svg");
  }

  /* line 68, ../../src/scss/_footer.scss */
  #footer-to-photos:before {
    background-image: url("../img/nature_1.svg");
  }

  /* line 72, ../../src/scss/_footer.scss */
  #footer-to-map:before {
    background-image: url("../img/map_1.svg");
  }

  /* line 76, ../../src/scss/_footer.scss */
  #footer-to-about:before {
    background-image: url("../img/profile_1.svg");
  }

  /* what icons to show on the menu screen */
  /* line 83, ../../src/scss/_footer.scss */
  body.screen-about #footer-to-about,
  body.screen-about #footer-to-menu,
  body.screen-about #footer-to-overview,
  body.screen-menu #footer-to-about,
  body.screen-menu #footer-to-menu,
  body.screen-menu #footer-to-overview,
  body.screen-overview #footer-to-about,
  body.screen-overview #footer-to-menu,
  body.screen-overview #footer-to-overview {
    display: inline-block;
  }
  /* line 89, ../../src/scss/_footer.scss */
  body.screen-about #footer-to-guide,
  body.screen-about #footer-to-map,
  body.screen-about #footer-to-photos,
  body.screen-menu #footer-to-guide,
  body.screen-menu #footer-to-map,
  body.screen-menu #footer-to-photos,
  body.screen-overview #footer-to-guide,
  body.screen-overview #footer-to-map,
  body.screen-overview #footer-to-photos {
    display: none;
  }

  /* what icons to show on the map screen */
  /* line 99, ../../src/scss/_footer.scss */
  body.screen-guide #footer-to-about,
  body.screen-map #footer-to-about,
  body.screen-photos #footer-to-about {
    display: none;
  }

  /* what icons are active on per screen */
  /* line 104, ../../src/scss/_footer.scss */
  body.screen-about #footer-to-about,
  body.screen-guide #footer-to-guide,
  body.screen-map #footer-to-map,
  body.screen-menu #footer-to-menu,
  body.screen-overview #footer-to-overview,
  body.screen-photos #footer-to-photos {
    opacity: 1;
    filter: grayscale(0);
  }

  /* the photos icon is active on the map screen since they are combined */
  /* line 114, ../../src/scss/_footer.scss */
  body.screen-map #footer-to-guide {
    opacity: 1;
    filter: grayscale(0);
  }

  /* hide the map icon on wider screens */
  /* line 119, ../../src/scss/_footer.scss */
  #footer-to-map {
    display: none;
  }
}
@media (orientation: portrait) {
  /* show the map icon on narrow screens */
  /* line 125, ../../src/scss/_footer.scss */
  #footer-to-map {
    display: inline-block;
  }

  /* the photos icon is passive on the map screen */
  /* line 129, ../../src/scss/_footer.scss */
  body.screen-map #footer-to-guide {
    opacity: 0.5;
    filter: grayscale(1);
  }
}
@media print {
  /* line 135, ../../src/scss/_footer.scss */
  .toolbar {
    display: none;
  }
}
/*
	menu
*/
@media all {
  /* line 5, ../../src/scss/_menu.scss */
  .navigation {
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    background: #fff none;
    bottom: 50px;
    left: 0;
    margin: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    position: absolute;
    right: 0;
    top: 4rem;
    z-index: 5;
  }
  /* line 21, ../../src/scss/_menu.scss */
  .navigation p {
    margin: 1em;
  }
  /* line 22, ../../src/scss/_menu.scss */
  .navigation p img {
    display: none;
  }
  /* line 28, ../../src/scss/_menu.scss */
  .navigation .app-banners {
    line-height: 1.5;
  }
  /* line 31, ../../src/scss/_menu.scss */
  .navigation .app-banners span {
    display: block;
    width: 280px;
  }
  /* line 36, ../../src/scss/_menu.scss */
  .navigation .app-banners img {
    display: inline-block;
    vertical-align: middle;
  }
  /* line 42, ../../src/scss/_menu.scss */
  .navigation menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  /* line 47, ../../src/scss/_menu.scss */
  .navigation menu li {
    display: block;
    width: 100%;
    padding: 0;
    min-height: 3.667rem;
  }
  /* line 53, ../../src/scss/_menu.scss */
  .navigation menu li a {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    min-height: 3.667rem;
    position: relative;
    font-size: 1.166666666666667rem;
    text-decoration: none;
  }
  /* line 65, ../../src/scss/_menu.scss */
  .navigation menu li.no-results {
    background-color: #fff;
    padding: 2em;
    text-align: center;
  }

  /* line 73, ../../src/scss/_menu.scss */
  body.screen-menu .navigation {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media (min-width: 1000px) {
  /* line 79, ../../src/scss/_menu.scss */
  .navigation .app-banners {
    position: absolute;
    right: 0;
    top: -5px;
  }
  /* line 84, ../../src/scss/_menu.scss */
  .navigation .app-banners span {
    display: inline-block;
  }
  /* line 88, ../../src/scss/_menu.scss */
  .navigation .app-banners img {
    height: 32px;
    width: auto;
  }
}
/*
	sorting
*/
@media all {
  /* line 5, ../../src/scss/_sorting.scss */
  #sorting {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    height: 4rem;
  }
  /* line 13, ../../src/scss/_sorting.scss */
  #sorting label {
    display: inline-block;
    flex: 1 1 auto;
    padding: 0 0.667rem;
  }
  /* line 18, ../../src/scss/_sorting.scss */
  #sorting label span {
    display: none;
  }
  /* line 22, ../../src/scss/_sorting.scss */
  #sorting label input,
  #sorting label select {
    border-radius: 0;
    border: none;
    border-bottom: solid 1px #CCCCCC;
    padding: 0;
    margin: 0;
    font-size: 14px;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 1.5rem;
    width: 100%;
    height: 2.6rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  /* line 40, ../../src/scss/_sorting.scss */
  #sorting label input:focus,
  #sorting label select:focus {
    border-bottom: solid 2px #1976D2;
  }
  /* line 45, ../../src/scss/_sorting.scss */
  #sorting label input {
    background-image: url("../img/button_delete_2.svg");
  }
  /* line 49, ../../src/scss/_sorting.scss */
  #sorting label select {
    background-image: url("../img/button_backward_2.svg");
  }
}
/*
	menu
*/
@media all {
  /* line 7, ../../src/scss/_overview.scss */
  .overview {
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    background: #fff none;
    bottom: 4rem;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 4rem;
    z-index: 6;
  }

  /*
  on which screen should this be visible
  */
  /* line 27, ../../src/scss/_overview.scss */
  body.screen-overview .overview {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
/*
	popup
*/
@media all {
  /* line 7, ../../src/scss/_guide.scss */
  .guide {
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    background: #fff;
    border-left: solid 1px #000;
    bottom: 50px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 8rem;
    width: 50%;
    z-index: 5;
  }
  /* line 20, ../../src/scss/_guide.scss */
  .guide h3 {
    clear: both;
  }
  /* line 23, ../../src/scss/_guide.scss */
  .guide p {
    clear: both;
  }
  /* line 25, ../../src/scss/_guide.scss */
  .guide p:after {
    content: '';
    clear: both;
    display: table;
  }
  /* line 31, ../../src/scss/_guide.scss */
  .guide .guide-optional,
  .guide .guide-detour,
  .guide .guide-attention {
    background-color: #ddeecc;
    margin: -0.7em 0 0 0;
    padding: 1px 0.7em;
  }
  /* line 38, ../../src/scss/_guide.scss */
  .guide .guide-detour {
    background-color: #eeccdd;
  }
  /* line 41, ../../src/scss/_guide.scss */
  .guide .guide-attention {
    background-color: #ccddee;
  }
  /* line 44, ../../src/scss/_guide.scss */
  .guide .cylinder-image,
  .guide .zoom-image {
    background-color: #000;
    background-size: cover;
    background-position: 50%;
    width: 128px;
    height: 96px;
    text-align: center;
    float: right;
    margin: 0 0 0.7em 1em;
  }
  /* line 54, ../../src/scss/_guide.scss */
  .guide .cylinder-image:before,
  .guide .zoom-image:before {
    display: inline-block;
    content: '';
    height: 96px;
    width: 1px;
    vertical-align: middle;
    margin-left: -1px;
  }
  /* line 62, ../../src/scss/_guide.scss */
  .guide .cylinder-image img,
  .guide .zoom-image img {
    display: inline-block;
    max-height: 96px;
    max-width: 128px;
    vertical-align: middle;
  }
  /* line 69, ../../src/scss/_guide.scss */
  .guide .guide-scroller {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 15px;
  }
  /* line 75, ../../src/scss/_guide.scss */
  .guide .guide-scroller h2 {
    margin-top: 15px;
  }

  /*
  on which screen should this be visible
  */
  /* line 85, ../../src/scss/_guide.scss */
  body.screen-map .guide,
  body.screen-guide .guide {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media (min-width: 481px) {
  /* line 92, ../../src/scss/_guide.scss */
  .guide .cylinder-image,
  .guide .zoom-image {
    float: left;
    margin: 0 1em 0.7em 0;
  }
}
@media (orientation: portrait) {
  /* line 102, ../../src/scss/_guide.scss */
  .guide {
    border-left: none;
    width: 100%;
  }

  /*
  on which screen should this be visible
  */
  /* line 111, ../../src/scss/_guide.scss */
  body.screen-map .guide {
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  /* line 112, ../../src/scss/_guide.scss */
  body.screen-guide .guide {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media print {
  /* line 117, ../../src/scss/_guide.scss */
  .guide {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    opacity: 1 !important;
    -webkit-opacity: 1 !important;
    visibility: visible !important;
    border: none !important;
    padding: 0.5cm !important;
    width: 100% !important;
    height: auto !important;
  }
  /* line 131, ../../src/scss/_guide.scss */
  .guide .guide-scroller {
    height: auto !important;
    overflow: visible !important;
  }
}
/*
	info
*/
@media all {
  /* line 7, ../../src/scss/_about.scss */
  .about {
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    background: #fff;
    bottom: 50px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 4rem;
    width: 100%;
    z-index: 7;
  }
  /* line 19, ../../src/scss/_about.scss */
  .about .about-scroller {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 15px;
  }
  /* line 25, ../../src/scss/_about.scss */
  .about .about-scroller h2 {
    margin-top: 15px;
  }
  /* line 28, ../../src/scss/_about.scss */
  .about .about-scroller figure {
    margin: 1em 0;
    padding: 0;
  }
  /* line 31, ../../src/scss/_about.scss */
  .about .about-scroller figure img {
    border-radius: 12px;
    height: 64px;
    width: 64px;
    margin-right: 0.3em;
    vertical-align: middle;
  }
  /* line 38, ../../src/scss/_about.scss */
  .about .about-scroller figure figcaption {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
  }
  /* line 42, ../../src/scss/_about.scss */
  .about .about-scroller figure figcaption strong {
    display: block;
    font-size: 16px;
  }

  /*
  on which screen should this be visible
  */
  /* line 55, ../../src/scss/_about.scss */
  body.screen-about .about {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media (orientation: portrait) {
  /* line 60, ../../src/scss/_about.scss */
  .about {
    border-left: none;
    width: 100%;
  }

  /*
  on which screen should this be visible
  */
  /* line 69, ../../src/scss/_about.scss */
  body.screen-about .about {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media print {
  /* line 74, ../../src/scss/_about.scss */
  .about {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    opacity: 1 !important;
    -webkit-opacity: 1 !important;
    visibility: visible !important;
    border: none !important;
    padding: 0.5cm !important;
    width: 100% !important;
    height: auto !important;
  }
}
/*
	signage
*/
@media all {
  /* line 5, ../../src/scss/_signage.scss */
  .sign {
    background-color: #F57C00;
    color: #FFF;
    flex: 1 1 auto;
    display: inline-block;
    padding: 0.5rem 0.3rem 0.2rem;
    border: solid 1px #fff;
    line-height: 1.5rem;
    z-index: 1;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }
  /* line 20, ../../src/scss/_signage.scss */
  .sign:before {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    vertical-align: middle;
    margin: -1px auto 0;
  }
  /* line 32, ../../src/scss/_signage.scss */
  .sign.from, .sign.to {
    display: none;
  }
  /* line 37, ../../src/scss/_signage.scss */
  .sign.train {
    background-color: #F57C00;
  }
  /* line 41, ../../src/scss/_signage.scss */
  .sign.bus {
    background-color: #03A9F4;
  }
  /* line 45, ../../src/scss/_signage.scss */
  .sign.ferry {
    background-color: #7CB342;
  }
  /* line 49, ../../src/scss/_signage.scss */
  .sign.park {
    background-color: #1B5E20;
    color: #F0F4C3;
  }
  /* line 54, ../../src/scss/_signage.scss */
  .sign.park:before {
    display: none;
  }
  /* line 58, ../../src/scss/_signage.scss */
  .sign.train:before {
    background-image: url("../img/sign_train_3.svg");
  }
  /* line 62, ../../src/scss/_signage.scss */
  .sign.bus:before {
    background-image: url("../img/sign_bus.svg");
  }
  /* line 66, ../../src/scss/_signage.scss */
  .sign.ferry:before {
    background-image: url("../img/sign_water_transport.svg");
  }
  /* line 70, ../../src/scss/_signage.scss */
  .sign.sign.park i {
    display: block;
    font-size: 1rem;
  }
}
/* line 77, ../../src/scss/_signage.scss */
header.subtitle .sign {
  font-size: 14px;
}

@media (max-width: 640px), (max-height: 480px) {
  /* line 77, ../../src/scss/_signage.scss */
  .sign {
    font-size: 14px;
  }
}
@media (max-width: 769px) {
  /* line 90, ../../src/scss/_signage.scss */
  .sign.to {
    display: none;
  }
}
/*
	Photo Wall
*/
@media all {
  /* line 5, ../../src/scss/_photowall.scss */
  .photowall {
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    background: #FFF;
    bottom: 50px;
    height: auto;
    max-height: 100%;
    position: absolute;
    right: 0;
    top: 8rem;
    width: 50%;
    z-index: 4;
    margin: 0;
    padding: 0;
  }
  /* line 21, ../../src/scss/_photowall.scss */
  .photowall * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-interpolation-mode: bicubic;
  }
  /* line 26, ../../src/scss/_photowall.scss */
  .photowall ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    align-content: flex-start;
  }
  /* line 38, ../../src/scss/_photowall.scss */
  .photowall ul li {
    flex: 1 1 auto;
    max-width: 50%;
    margin: 0;
    padding: 0;
  }
  /* line 44, ../../src/scss/_photowall.scss */
  .photowall ul li a {
    display: block;
    background-size: cover;
    background-position: center;
    border: solid 1px #FFF;
  }
  /* line 50, ../../src/scss/_photowall.scss */
  .photowall ul li a img {
    height: 96px;
    width: auto;
    visibility: hidden;
    vertical-align: top;
  }
  /* line 60, ../../src/scss/_photowall.scss */
  .photowall:after {
    background: Transparent url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background: Transparent -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
    background: Transparent -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background: Transparent -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background: Transparent linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    height: 32px;
    left: 0;
    right: 0;
    z-index: 5;
  }

  /*
  	on which screen should this be visible
  */
  /* line 75, ../../src/scss/_photowall.scss */
  body.screen-photos .photowall {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media (max-width: 767px) {
  /* line 80, ../../src/scss/_photowall.scss */
  .photowall ul li {
    max-width: none;
  }

  /* line 83, ../../src/scss/_photowall.scss */
  .photowall ul li a img {
    height: 96px;
  }
}
@media (orientation: portrait) {
  /* line 88, ../../src/scss/_photowall.scss */
  .photowall {
    width: 100%;
  }

  /*
  	on which screen should this be visible
  */
  /* line 94, ../../src/scss/_photowall.scss */
  body.screen-photos .photowall {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media print {
  /* line 99, ../../src/scss/_photowall.scss */
  .photowall {
    display: none !important;
  }
}
/*
	Photo Map
*/
@media all {
  /* line 7, ../../src/scss/_photomap.scss */
  .photomap {
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    display: block;
    margin: 0;
    padding: 0;
    bottom: 4rem;
    height: auto;
    left: 0;
    max-height: 100%;
    position: absolute;
    top: 8rem;
    width: 50%;
    z-index: 3;
  }

  /* line 24, ../../src/scss/_photomap.scss */
  .photomap-return {
    overflow: hidden;
    position: relative;
    text-align: left;
    text-indent: 58px;
    white-space: nowrap;
    /* Because of Internet Explorer 8 we can't have nice thing. */
    overflow: visible;
    text-indent: -999em;
    width: 36px;
    width: 3rem;
    height: 36px;
    height: 3rem;
    right: 12px;
    right: 1rem;
    top: 12px;
    top: 1rem;
    background: #0D47A1;
    color: #fff;
    cursor: pointer;
    display: none;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-decoration: none;
    z-index: 2;
  }
  /* line 39, ../../src/scss/_photomap.scss */
  .photomap-return:before {
    content: '';
    display: block;
    height: 24px;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    margin-top: -12px;
    top: 50%;
    width: 24px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/forward.svg);
  }
  /* line 43, ../../src/scss/_photomap.scss */
  .photomap-return:hover {
    background: #ff9800;
  }

  /* line 48, ../../src/scss/_photomap.scss */
  .photomap-leaflet {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  /*
  	on which screen should this be visible
  */
  /* line 59, ../../src/scss/_photomap.scss */
  body.screen-guide .photomap,
  body.screen-photos .photomap,
  body.screen-map .photomap {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media (orientation: portrait) {
  /* line 66, ../../src/scss/_photomap.scss */
  .photomap {
    width: 100%;
  }

  /* line 70, ../../src/scss/_photomap.scss */
  .photomap-return {
    display: block;
  }

  /*
  on which screen should this be visible
  */
  /* line 78, ../../src/scss/_photomap.scss */
  body.screen-guide .photomap {
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }

  /* line 79, ../../src/scss/_photomap.scss */
  body.screen-photos .photomap {
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }

  /* line 80, ../../src/scss/_photomap.scss */
  body.screen-map .photomap {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media print {
  /* line 85, ../../src/scss/_photomap.scss */
  .photomap {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    page-break-before: always;
    height: 20cm !important;
    width: 20cm !important;
  }
}
/*
	Photo Cylinder
*/
@media all {
  /*
  	example container
  */
  /* line 8, ../../src/scss/_photocylinder.scss */
  #photocylinder {
    margin: 0;
    padding: 0;
    position: relative;
  }
  /* line 13, ../../src/scss/_photocylinder.scss */
  #photocylinder * {
    box-sizing: border-box;
    -ms-interpolation-mode: bicubic;
  }
  /* line 18, ../../src/scss/_photocylinder.scss */
  #photocylinder li {
    display: inline;
    margin: 0;
    padding: 0;
  }
  /* line 25, ../../src/scss/_photocylinder.scss */
  #photocylinder li img {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 3.96px;
    margin-bottom: 0.33rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: inline-block;
    height: 96px;
    width: auto;
    vertical-align: top;
  }

  	/*
  		3d stage
  
  		The base size of the calculations was arbitrarily picked as 500, but the resulting projection can be arbitrarily large.
  
  		tan A = Y / X
  		tan(22.5) = 300 / X
  		tan(22.5) / 300 = 1 / X
  		300 / tan(22.5) = X
  
  		Z = 1.207106781186548 * X
  
  		scale = aspect * (360 / fov) * 0.3
  
  		translateZ(calc(-1.207106781186548 * 500px + 2px))
  
  		translateZ(-601.553390593274px)
  	*/
  /* line 52, ../../src/scss/_photocylinder.scss */
  .photo-cylinder {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    perspective: 500px;
  }
  /* line 60, ../../src/scss/_photocylinder.scss */
  .photo-cylinder img {
    visibility: hidden;
    width: 100%;
    height: auto;
  }
  /* line 66, ../../src/scss/_photocylinder.scss */
  .photo-cylinder .pc-obj-row {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 1200px;
    transform: translate(-50%, -50%) scale(1) rotateY(0deg);
    transform-style: preserve-3d;
    position: relative;
  }
  /* line 77, ../../src/scss/_photocylinder.scss */
  .photo-cylinder .pc-obj-col {
    background-size: 800% auto;
    background-position: 0 50%;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    transform-style: preserve-3d;
    perspective-origin: 50% 50%;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
  }
  /* line 90, ../../src/scss/_photocylinder.scss */
  .photo-cylinder .pc-obj-col-0 {
    transform: rotateY(0deg) translateZ(-601.55339px);
    background-position: 0 50%;
  }
  /* line 95, ../../src/scss/_photocylinder.scss */
  .photo-cylinder .pc-obj-col-1 {
    transform: rotateY(-45deg) translateZ(-601.55339px);
    background-position: -500px 50%;
  }
  /* line 100, ../../src/scss/_photocylinder.scss */
  .photo-cylinder .pc-obj-col-2 {
    transform: rotateY(-90deg) translateZ(-601.55339px);
    background-position: -1000px 50%;
  }
  /* line 105, ../../src/scss/_photocylinder.scss */
  .photo-cylinder .pc-obj-col-3 {
    transform: rotateY(-135deg) translateZ(-601.55339px);
    background-position: -1500px 50%;
  }
  /* line 110, ../../src/scss/_photocylinder.scss */
  .photo-cylinder .pc-obj-col-4 {
    transform: rotateY(-180deg) translateZ(-601.55339px);
    background-position: -2000px 50%;
  }
  /* line 115, ../../src/scss/_photocylinder.scss */
  .photo-cylinder .pc-obj-col-5 {
    transform: rotateY(-225deg) translateZ(-601.55339px);
    background-position: -2500px 50%;
  }
  /* line 120, ../../src/scss/_photocylinder.scss */
  .photo-cylinder .pc-obj-col-6 {
    transform: rotateY(-270deg) translateZ(-601.55339px);
    background-position: -3000px 50%;
  }
  /* line 125, ../../src/scss/_photocylinder.scss */
  .photo-cylinder .pc-obj-col-7 {
    transform: rotateY(-315deg) translateZ(-601.55339px);
    background-position: -3500px 50%;
  }
  /* line 131, ../../src/scss/_photocylinder.scss */
  .photo-cylinder.pc-fallback img {
    visibility: visible;
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1, 1);
  }

  /* line 145, ../../src/scss/_photocylinder.scss */
  .photo-cylinder.pc-180 .pc-obj-col {
    background-size: 400% auto;
  }

  /* line 151, ../../src/scss/_photocylinder.scss */
  .photo-cylinder.pc-360 .pc-obj-col {
    background-size: 800% auto;
  }

  /*
  	popup styles
  */
  /* line 158, ../../src/scss/_photocylinder.scss */
  .photocylinder-popup {
    transition: opacity ease 500ms;
    background: rgba(0, 0, 0, 0.9);
    background: #000 \9;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 20000;
  }
  /* line 173, ../../src/scss/_photocylinder.scss */
  .photocylinder-popup.photocylinder-busy-fixed {
    position: fixed;
  }
  /* line 177, ../../src/scss/_photocylinder.scss */
  .photocylinder-popup * {
    box-sizing: border-box;
    -ms-interpolation-mode: bicubic;
  }
  /* line 182, ../../src/scss/_photocylinder.scss */
  .photocylinder-popup .photocylinder-closer,
  .photocylinder-popup .photocylinder-locator {
    overflow: hidden;
    position: relative;
    text-align: left;
    text-indent: 58px;
    white-space: nowrap;
    /* Because of Internet Explorer 8 we can't have nice thing. */
    overflow: visible;
    text-indent: -999em;
    width: 36px;
    width: 3rem;
    height: 36px;
    height: 3rem;
    right: 12px;
    right: 1rem;
    top: 12px;
    top: 1rem;
    background: #0D47A1;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-decoration: none;
    z-index: 2;
  }
  /* line 198, ../../src/scss/_photocylinder.scss */
  .photocylinder-popup .photocylinder-closer:before,
  .photocylinder-popup .photocylinder-locator:before {
    content: '';
    display: block;
    height: 24px;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    margin-top: -12px;
    top: 50%;
    width: 24px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/close.svg");
    background-size: 24px 24px;
  }
  /* line 204, ../../src/scss/_photocylinder.scss */
  .photocylinder-popup .photocylinder-closer:hover,
  .photocylinder-popup .photocylinder-locator:hover {
    background: #ff9800;
  }
  /* line 209, ../../src/scss/_photocylinder.scss */
  .photocylinder-popup .photocylinder-locator {
    right: 60px;
    right: 5rem;
    display: none;
  }
  /* line 213, ../../src/scss/_photocylinder.scss */
  .photocylinder-popup .photocylinder-locator:before {
    background-image: url("../img/map_2.svg");
  }

  /* line 219, ../../src/scss/_photocylinder.scss */
  .photocylinder-popup-passive {
    opacity: 0;
    -webkit-opacity: 0;
    visibility: hidden\9;
  }

  /* line 225, ../../src/scss/_photocylinder.scss */
  .photocylinder-popup-active {
    opacity: 1;
    -webkit-opacity: 1;
    visibility: visible\9;
  }

  /*
  	busy spinner
  */
  /* line 233, ../../src/scss/_photocylinder.scss */
  .photocylinder-busy {
    border-radius: 5px;
    opacity: 0.8;
    -webkit-opacity: 0.8;
    background: #000 url("../img/busy.gif") no-repeat 50% 50%;
    height: 48px;
    left: 50%;
    margin: -24px;
    position: absolute;
    top: 50%;
    width: 48px;
    z-index: 20001;
  }
  /* line 246, ../../src/scss/_photocylinder.scss */
  .photocylinder-busy.photocylinder-busy-fixed {
    position: fixed;
  }

  /* line 251, ../../src/scss/_photocylinder.scss */
  .photocylinder-busy-passive {
    visibility: hidden;
  }

  /* line 255, ../../src/scss/_photocylinder.scss */
  .photocylinder-busy-active {
    visibility: visible;
  }
}
@media (orientation: portrait) {
  /* line 261, ../../src/scss/_photocylinder.scss */
  .photocylinder-popup .photocylinder-locator {
    display: block;
  }
}
/* required styles */
/* line 3, ../../src/scss/_leaflet.scss */
.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 17, ../../src/scss/_leaflet.scss */
.leaflet-container {
  overflow: hidden;
}

/* line 20, ../../src/scss/_leaflet.scss */
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* Safari renders non-retina tile on retina better with this, but Chrome is worse */
/* line 29, ../../src/scss/_leaflet.scss */
.leaflet-safari .leaflet-tile {
  image-rendering: -webkit-optimize-contrast;
}

/* hack that prevents hw layers "stretching" when loading new tiles */
/* line 33, ../../src/scss/_leaflet.scss */
.leaflet-safari .leaflet-tile-container {
  width: 1600px;
  height: 1600px;
  -webkit-transform-origin: 0 0;
}

/* line 38, ../../src/scss/_leaflet.scss */
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

/* .leaflet-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */
/* .leaflet-container img: map is broken in FF if you have max-width: 100% on tiles */
/* line 44, ../../src/scss/_leaflet.scss */
.leaflet-container .leaflet-overlay-pane svg,
.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer {
  max-width: none !important;
}

/* line 52, ../../src/scss/_leaflet.scss */
.leaflet-container.leaflet-touch-zoom {
  -ms-touch-action: pan-x pan-y;
  touch-action: pan-x pan-y;
}

/* line 56, ../../src/scss/_leaflet.scss */
.leaflet-container.leaflet-touch-drag {
  -ms-touch-action: pinch-zoom;
}

/* line 59, ../../src/scss/_leaflet.scss */
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  -ms-touch-action: none;
  touch-action: none;
}

/* line 63, ../../src/scss/_leaflet.scss */
.leaflet-container {
  -webkit-tap-highlight-color: transparent;
}

/* line 66, ../../src/scss/_leaflet.scss */
.leaflet-container a {
  -webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
}

/* line 69, ../../src/scss/_leaflet.scss */
.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}

/* line 73, ../../src/scss/_leaflet.scss */
.leaflet-tile-loaded {
  visibility: inherit;
}

/* line 76, ../../src/scss/_leaflet.scss */
.leaflet-zoom-box {
  width: 0;
  height: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 800;
}

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
/* line 84, ../../src/scss/_leaflet.scss */
.leaflet-overlay-pane svg {
  -moz-user-select: none;
}

/* line 88, ../../src/scss/_leaflet.scss */
.leaflet-pane {
  z-index: 400;
}

/* line 90, ../../src/scss/_leaflet.scss */
.leaflet-tile-pane {
  z-index: 200;
}

/* line 91, ../../src/scss/_leaflet.scss */
.leaflet-overlay-pane {
  z-index: 400;
}

/* line 92, ../../src/scss/_leaflet.scss */
.leaflet-shadow-pane {
  z-index: 500;
}

/* line 93, ../../src/scss/_leaflet.scss */
.leaflet-marker-pane {
  z-index: 600;
}

/* line 94, ../../src/scss/_leaflet.scss */
.leaflet-tooltip-pane {
  z-index: 650;
}

/* line 95, ../../src/scss/_leaflet.scss */
.leaflet-popup-pane {
  z-index: 700;
}

/* line 97, ../../src/scss/_leaflet.scss */
.leaflet-map-pane canvas {
  z-index: 100;
}

/* line 98, ../../src/scss/_leaflet.scss */
.leaflet-map-pane svg {
  z-index: 200;
}

/* line 100, ../../src/scss/_leaflet.scss */
.leaflet-vml-shape {
  width: 1px;
  height: 1px;
}

/* line 104, ../../src/scss/_leaflet.scss */
.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute;
}

/* control positioning */
/* line 113, ../../src/scss/_leaflet.scss */
.leaflet-control {
  position: relative;
  z-index: 800;
  pointer-events: visiblePainted;
  /* IE 9-10 doesn't have auto */
  pointer-events: auto;
}

/* line 119, ../../src/scss/_leaflet.scss */
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

/* line 125, ../../src/scss/_leaflet.scss */
.leaflet-top {
  top: 0;
}

/* line 128, ../../src/scss/_leaflet.scss */
.leaflet-right {
  right: 0;
}

/* line 131, ../../src/scss/_leaflet.scss */
.leaflet-bottom {
  bottom: 0;
}

/* line 134, ../../src/scss/_leaflet.scss */
.leaflet-left {
  left: 0;
}

/* line 137, ../../src/scss/_leaflet.scss */
.leaflet-control {
  float: left;
  clear: both;
}

/* line 141, ../../src/scss/_leaflet.scss */
.leaflet-right .leaflet-control {
  float: right;
}

/* line 144, ../../src/scss/_leaflet.scss */
.leaflet-top .leaflet-control {
  margin-top: 10px;
}

/* line 147, ../../src/scss/_leaflet.scss */
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}

/* line 150, ../../src/scss/_leaflet.scss */
.leaflet-left .leaflet-control {
  margin-left: 10px;
}

/* line 153, ../../src/scss/_leaflet.scss */
.leaflet-right .leaflet-control {
  margin-right: 10px;
}

/* zoom and fade animations */
/* line 160, ../../src/scss/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile {
  will-change: opacity;
}

/* line 163, ../../src/scss/_leaflet.scss */
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* line 170, ../../src/scss/_leaflet.scss */
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
}

/* line 173, ../../src/scss/_leaflet.scss */
.leaflet-zoom-animated {
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

/* line 178, ../../src/scss/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-animated {
  will-change: transform;
}

/* line 181, ../../src/scss/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

/* line 187, ../../src/scss/_leaflet.scss */
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 195, ../../src/scss/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden;
}

/* cursors */
/* line 202, ../../src/scss/_leaflet.scss */
.leaflet-interactive {
  cursor: pointer;
}

/* line 205, ../../src/scss/_leaflet.scss */
.leaflet-grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

/* line 209, ../../src/scss/_leaflet.scss */
.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
  cursor: crosshair;
}

/* line 213, ../../src/scss/_leaflet.scss */
.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}

/* line 217, ../../src/scss/_leaflet.scss */
.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

/* marker & overlays interactivity */
/* line 226, ../../src/scss/_leaflet.scss */
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane > svg path,
.leaflet-tile-container {
  pointer-events: none;
}

/* line 234, ../../src/scss/_leaflet.scss */
.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive {
  pointer-events: visiblePainted;
  /* IE 9-10 doesn't have auto */
  pointer-events: auto;
}

/* visual tweaks */
/* line 243, ../../src/scss/_leaflet.scss */
.leaflet-container {
  background: #ddd;
  outline: 0;
}

/* line 247, ../../src/scss/_leaflet.scss */
.leaflet-container a {
  color: #0078A8;
}

/* line 250, ../../src/scss/_leaflet.scss */
.leaflet-container a.leaflet-active {
  outline: 2px solid orange;
}

/* line 253, ../../src/scss/_leaflet.scss */
.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5);
}

/* general typography */
/* line 260, ../../src/scss/_leaflet.scss */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* general toolbar styles */
/* line 267, ../../src/scss/_leaflet.scss */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

/* line 271, ../../src/scss/_leaflet.scss */
.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* line 283, ../../src/scss/_leaflet.scss */
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

/* line 289, ../../src/scss/_leaflet.scss */
.leaflet-bar a:hover {
  background-color: #f4f4f4;
}

/* line 292, ../../src/scss/_leaflet.scss */
.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 296, ../../src/scss/_leaflet.scss */
.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

/* line 301, ../../src/scss/_leaflet.scss */
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
}

/* line 307, ../../src/scss/_leaflet.scss */
.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* line 312, ../../src/scss/_leaflet.scss */
.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

/* line 316, ../../src/scss/_leaflet.scss */
.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* zoom control */
/* line 323, ../../src/scss/_leaflet.scss */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px;
}

/* line 329, ../../src/scss/_leaflet.scss */
.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
  font-size: 22px;
}

/* layers control */
/* line 336, ../../src/scss/_leaflet.scss */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px;
}

/* line 341, ../../src/scss/_leaflet.scss */
.leaflet-control-layers-toggle {
  background-image: url(../img/layers.png);
  width: 36px;
  height: 36px;
}

/* line 346, ../../src/scss/_leaflet.scss */
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(../img/layers-2x.png);
  background-size: 26px 26px;
}

/* line 350, ../../src/scss/_leaflet.scss */
.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}

/* line 354, ../../src/scss/_leaflet.scss */
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}

/* line 358, ../../src/scss/_leaflet.scss */
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}

/* line 362, ../../src/scss/_leaflet.scss */
.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}

/* line 367, ../../src/scss/_leaflet.scss */
.leaflet-control-layers-scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 5px;
}

/* line 372, ../../src/scss/_leaflet.scss */
.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

/* line 377, ../../src/scss/_leaflet.scss */
.leaflet-control-layers label {
  display: block;
}

/* line 380, ../../src/scss/_leaflet.scss */
.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}

/* Default icon URLs */
/* line 387, ../../src/scss/_leaflet.scss */
.leaflet-default-icon-path {
  background-image: url(../img/marker-icon.png);
}

/* attribution and scale controls */
/* line 394, ../../src/scss/_leaflet.scss */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
}

/* line 399, ../../src/scss/_leaflet.scss */
.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333;
}

/* line 404, ../../src/scss/_leaflet.scss */
.leaflet-control-attribution a {
  text-decoration: none;
}

/* line 407, ../../src/scss/_leaflet.scss */
.leaflet-control-attribution a:hover {
  text-decoration: underline;
}

/* line 410, ../../src/scss/_leaflet.scss */
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px;
}

/* line 414, ../../src/scss/_leaflet.scss */
.leaflet-left .leaflet-control-scale {
  margin-left: 5px;
}

/* line 417, ../../src/scss/_leaflet.scss */
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px;
}

/* line 420, ../../src/scss/_leaflet.scss */
.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
}

/* line 434, ../../src/scss/_leaflet.scss */
.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
}

/* line 439, ../../src/scss/_leaflet.scss */
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777;
}

/* line 443, ../../src/scss/_leaflet.scss */
.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none;
}

/* line 448, ../../src/scss/_leaflet.scss */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

/* popup */
/* line 457, ../../src/scss/_leaflet.scss */
.leaflet-popup {
  position: absolute;
  text-align: center;
  margin-bottom: 20px;
}

/* line 462, ../../src/scss/_leaflet.scss */
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
}

/* line 467, ../../src/scss/_leaflet.scss */
.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}

/* line 471, ../../src/scss/_leaflet.scss */
.leaflet-popup-content p {
  margin: 18px 0;
}

/* line 474, ../../src/scss/_leaflet.scss */
.leaflet-popup-tip-container {
  width: 40px;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  overflow: hidden;
  pointer-events: none;
}

/* line 483, ../../src/scss/_leaflet.scss */
.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 496, ../../src/scss/_leaflet.scss */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  color: #333;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

/* line 502, ../../src/scss/_leaflet.scss */
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  border: none;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

/* line 517, ../../src/scss/_leaflet.scss */
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}

/* line 520, ../../src/scss/_leaflet.scss */
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* line 526, ../../src/scss/_leaflet.scss */
.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1;
}

/* line 529, ../../src/scss/_leaflet.scss */
.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}

/* line 536, ../../src/scss/_leaflet.scss */
.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px;
}

/* line 540, ../../src/scss/_leaflet.scss */
.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
}

/* div icon */
/* line 550, ../../src/scss/_leaflet.scss */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
}

/* Tooltip */
/* Base styles for the element that has a tooltip */
/* line 558, ../../src/scss/_leaflet.scss */
.leaflet-tooltip {
  position: absolute;
  padding: 6px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #222;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

/* line 573, ../../src/scss/_leaflet.scss */
.leaflet-tooltip.leaflet-clickable {
  cursor: pointer;
  pointer-events: auto;
}

/* line 577, ../../src/scss/_leaflet.scss */
.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  position: absolute;
  pointer-events: none;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Directions */
/* line 590, ../../src/scss/_leaflet.scss */
.leaflet-tooltip-bottom {
  margin-top: 6px;
}

/* line 593, ../../src/scss/_leaflet.scss */
.leaflet-tooltip-top {
  margin-top: -6px;
}

/* line 596, ../../src/scss/_leaflet.scss */
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-top:before {
  left: 50%;
  margin-left: -6px;
}

/* line 601, ../../src/scss/_leaflet.scss */
.leaflet-tooltip-top:before {
  bottom: 0;
  margin-bottom: -12px;
  border-top-color: #fff;
}

/* line 606, ../../src/scss/_leaflet.scss */
.leaflet-tooltip-bottom:before {
  top: 0;
  margin-top: -12px;
  margin-left: -6px;
  border-bottom-color: #fff;
}

/* line 612, ../../src/scss/_leaflet.scss */
.leaflet-tooltip-left {
  margin-left: -6px;
}

/* line 615, ../../src/scss/_leaflet.scss */
.leaflet-tooltip-right {
  margin-left: 6px;
}

/* line 618, ../../src/scss/_leaflet.scss */
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  top: 50%;
  margin-top: -6px;
}

/* line 623, ../../src/scss/_leaflet.scss */
.leaflet-tooltip-left:before {
  right: 0;
  margin-right: -12px;
  border-left-color: #fff;
}

/* line 628, ../../src/scss/_leaflet.scss */
.leaflet-tooltip-right:before {
  left: 0;
  margin-left: -12px;
  border-right-color: #fff;
}
