/*
	popup
*/

@media all {

	.guide {
		@include transition-property(transform);
		@include transition-duration(300ms);
		@include translate(100%, 0);
		background : #fff;
		border-left : solid 1px #000;
		bottom : 50px;
		padding : 0;
		position : absolute;
		right : 0;
		top : 8rem;
		width : 50%;
		z-index : 5;
		h3 {
			clear : both;
		}
		p {
			clear : both;
			&:after {
				content : '';
				clear : both;
				display : table;
			}
		}
		.guide-optional {
			background-color: #ddeecc;
		  margin: -0.7em 0 0 0;
		  padding: 1px 0.7em;
		}
		.cylinder-image,
		.zoom-image {
			background-color : #000;
			background-size : cover;
			background-position : 50%;
			width : 128px;
			height : 96px;
			text-align : center;
			float : right;
			margin : 0 0 0.7em 1em;
			&:before {
				display : inline-block;
				content : '';
				height : 96px;
				width : 1px;
				vertical-align : middle;
				margin-left : -1px;
			}
			img {
				display : inline-block;
				max-height : 96px;
				max-width : 128px;
				vertical-align : middle;
			}
		}
		.guide-scroller {
			height : 100%;
			overflow-x : hidden;
			overflow-y : auto;
			-webkit-overflow-scrolling : touch;
			padding : 0 15px;
			h2 {
				margin-top : 15px;
			}
		}
	}

	/*
	on which screen should this be visible
	*/

	body.screen-map .guide,
	body.screen-guide .guide { @include translate(0, 0); }

}
@media (min-width: 481px) {

	.guide {
		.cylinder-image,
		.zoom-image {
			float : left;
			margin : 0 1em 0.7em 0;
		}
	}

}
@media (orientation: portrait) {

	.guide {
		border-left : none;
		width : 100%;
	}

	/*
	on which screen should this be visible
	*/

	body.screen-map .guide { @include translate(100%, 0); }
	body.screen-guide .guide { @include translate(0, 0); }

}
@media print {

	.guide {
		@include translate(0, 0);
		position : relative !important;
		top : auto !important;
		right : auto !important;
		bottom : auto !important;
		left : auto !important;
		opacity : 1 !important;
		-webkit-opacity : 1 !important;
		visibility : visible !important;
		border : none !important;
		padding : 0.5cm !important;
		width : 100% !important;
		height : auto !important;
		.guide-scroller {
			height : auto !important;
			overflow : visible !important;
		}
	}

}
