header {
	&.title {
		background-color: #fff;
		border-bottom: solid 1px #eee;
		box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
		border-radius: 0;
		text-align: left;
		position: absolute;
		height: 4rem;
		overflow: hidden;
		left: 0;
		right: 0;
		text-align: center;
		top: 0;
		z-index: 8;
		display: flex;

		[data-color-scheme="light"] & {
			background-color: #fff;
			border-bottom: solid 1px #eee;
		}

		[data-color-scheme="dark"] & {
			background-color: #424242;
			border-bottom: solid 1px #212121;
		}

		@media (prefers-color-scheme: dark) {
			background-color: #424242;
			border-bottom: solid 1px #212121;
		}

		h1 {
			flex: 1 1 auto;
			margin: 0;
		}

		a {
			display: inline-block;
			font-size: 1.438rem;
			font-weight: normal;
			height: 4rem;
			line-height: 4rem;
			margin: 0;
			vertical-align: middle;
			color: #0D47A1;
			text-decoration: none;

			[data-color-scheme="light"] & {
				color: #0D47A1;
			}

			[data-color-scheme="dark"] & {
				color: #fff;
			}

			@media (prefers-color-scheme: dark) {
				color: #fff;
			}

			@media (max-width:959px) {
				text-align: center;
			}

			&:before {
				background-image: url("../img/logo.svg");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				content: '';
				display: inline-block;
				height: 2.25rem;
				margin-right: 0.3em;
				vertical-align: middle;
				width: 4.25rem;

				[data-color-scheme="light"] & {
					background-image: url("../img/logo.svg");
				}

				[data-color-scheme="dark"] & {
					background-image: url("../img/logo-inv.svg");
				}

				@media (prefers-color-scheme: dark) {
					background-image: url("../img/logo-inv.svg");
				}
			}
		}

		&:before {
			content: "";
			display: block;
			width: 4rem;
		}

		.toggle-color-scheme {
			cursor: pointer;
			width: 4rem;
			overflow: hidden;
			white-space: nowrap;
			text-indent: 150%;
			border: none;
			background-color: Transparent;
			background-repeat: no-repeat;
			background-size: auto 2rem;
			background-position: center;
			background-image: url("../img/contrast.svg");

			[data-color-scheme="light"] & {
				background-image: url("../img/sun.svg");
			}

			[data-color-scheme="dark"] & {
				background-image: url("../img/moon_inv.svg");
			}

			@media (prefers-color-scheme: dark) {
				background-image: url("../img/contrast_inv.svg");
			}
		}

		i {
			display: none;
		}
	}

	&.subtitle {
		border-bottom: solid 1px #eee;
		box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
		position: absolute;
		height: 4rem;
		left: 0;
		right: 0;
		top: 4rem;
		z-index: 8;
		cursor: pointer;

		h1,
		h2 {
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: stretch;
			height: 4rem;
			position: relative;
			font-size: 1.167rem;
			text-decoration: none;
			margin: 0;
			font-weight: normal;
		}

		body[data-screen="about"] &,
		body[data-screen="menu"] &,
		body[data-screen="overview"] & {
			visibility: hidden;
		}
	}

	&.subtitle,
	&.title {
		@media print {
			position: static;
			box-shadow: none;
			border: none;
		}
	}
}