.legend {
	flex-wrap: wrap;
	transition-property: transform;
	transition-duration: 300ms;
	transform: translate(100%, 0);
	background: #fff;
	border-left: solid 1px #000;
	bottom: 4rem;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: 8rem;
	width: 50%;
	z-index: 5;

	[data-color-scheme="light"] & {
		background: #fff;
	}
	
	[data-color-scheme="dark"] & {
		background: #212121;
	}

	@media (prefers-color-scheme: dark) {
		background: #212121;
	}

	@media (max-width:959px) {
		border-left: none;
		border-top: solid 1px #ccc;
		width: 100%;
		top: calc(100% - 50vw - 4rem);
		box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.1);
	}

	dl {
		padding: 20px;

		@media (max-width:959px) {
			padding: 0;
		}
	}

	dt {}

	dd {}

	h2 {}

	h3 {}

	time {
		float: right;
		font-size: 0.75em;
		margin-top: -1.75rem;
	}

	ul {
		@media (max-width:959px) {
			display: contents;
		}
	}

	li {
		@media (max-width:959px) {
			display: inline;
			margin: 0 0.3em 0 0;
		}
	}

	p {}

	p.duration {
		@media (max-width:959px) {
			display: none;
		}
	}

	br {
		@media (max-width:959px) {
			display: none;
		}
	}

	@media print {
		transform: translate(0, 0) !important;
		position: relative !important;
		top: auto !important;
		right: auto !important;
		bottom: auto !important;
		left: auto !important;
		opacity: 1 !important;
		visibility: visible !important;
		border: none !important;
		padding: 0.5cm !important;
		width: 100% !important;
		height: auto !important;
		overflow: visible !important;
	}

	body[data-screen="guide"] & {
		transform: translate(0, 0);
	}
}