.localmap {
	display: block;
	margin: 0;
	padding: 0;

	@media (max-width:959px) {
		width: 100%;
	}

	button {
		width: 3rem;
		height: 3rem;
		border: none;
		background-color: #0d47a1;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 50% auto;
		color: #fff;
		cursor: pointer;
		transition: background-color 300ms ease;
		overflow: hidden;
		white-space: nowrap;
		text-indent: 4rem;

		[data-color-scheme="light"] & {
			background-color: #0d47a1;
			color: #fff;
		}

		[data-color-scheme="dark"] & {
			background-color: #FFB74D;
			color: #000;
		}

		@media (prefers-color-scheme: dark) {
			background-color: #FFB74D;
			color: #000;
		}

		&:hover {
			background-color: #1565C0;

			[data-color-scheme="light"] & {
				background-color: #1565C0;
				color: #fff;
			}

			[data-color-scheme="dark"] & {
				background-color: #FFCC80;
				color: #000;
			}

			@media (prefers-color-scheme: dark) {
				background-color: #FFCC80;
				color: #000;
			}
		}

		&[disabled],
		&[disabled]:hover {
			opacity: 0.7;
			cursor: default;
			background-color: #999;
		}
	}

	&-busy {
		background-image: url("../img/busy.svg");
		background-repeat: no-repeat;
		background-size: 64px 64px;
		background-position: center;

		* {
			visibility: hidden;
		}
	}

	&-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&-canvas {
		position: absolute;
		left: 0;
		top: 0;
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
		transform-origin: 0 0;

		[data-color-scheme="light"] & {
			filter: initial;
		}

		[data-color-scheme="dark"] & {
			filter: hue-rotate(180deg) contrast(0.8) brightness(1.1) saturate(0.5) invert(1);
		}

		@media (prefers-color-scheme: dark) {
			filter: hue-rotate(180deg) contrast(0.8) brightness(1.1) saturate(0.5) invert(1);
		}

		&-transition,
		&-transition img,
		&-transition span {
			transition: transform ease 300ms;
		}
	}

	&-background {
		display: block;
		user-select: none;
		position: relative;
	}

	&-bitmap {
		position: relative;
		z-index: 1;
	}

	&-tile {
		position: absolute;
		z-index: 2;
	}

	&-indicator,
	&-location,
	&-marker {
		position: absolute;
		width: 28px;
		height: 28px;
		margin-left: -14px;
		margin-top: -28px;
		transform: scale3d(1, 1, 1);
		transform-origin: 50% 100%;
		transition: transform ease 100ms;
		z-index: 30;
	}

	&-index {
		&-0 {
			z-index: 40;
		}
	}

	&-indicator {
		display: none;
		z-index: 50;
	}

	&-location {
		display: none;
		z-index: 60;
	}

	&-permissions {
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 110;

		button {
			background-image: url("../img/icon-location.svg");
			background-size: 70% auto;

			[data-color-scheme="light"] & {
				background-image: url("../img/icon-location.svg");
			}

			[data-color-scheme="dark"] & {
				background-image: url("../img/icon-location-inv.svg");
			}

			@media (prefers-color-scheme: dark) {
				background-image: url("../img/icon-location-inv.svg");
			}
		}
	}

	&-waypoint {
		position: absolute;
		width: 16px;
		height: 16px;
		margin-left: -8px;
		margin-top: -8px;
		transform: scale3d(1, 1, 1);
		transform-origin: 50% 50%;
		border: solid 4px darkorange;
		opacity: 0.7;
		border-radius: 50%;
		z-index: 20;

		&:before {
			content: '';
			display: block;
			width: 8px;
			height: 8px;
			background-color: #fff;
			border-radius: 50%;
		}
	}

	&-route {
		position: absolute;
		opacity: 0.7;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
	}

	&-controls {
		position: absolute;
		left: 10px;
		top: 10px;
		z-index: 90;

		button {
			display: block;
			margin-bottom: 10px;
		}

		&-zoomin {
			background-image: url("../img/icon-zoomin.svg");

			[data-color-scheme="light"] & {
				background-image: url("../img/icon-zoomin.svg");
			}

			[data-color-scheme="dark"] & {
				background-image: url("../img/icon-zoomin-inv.svg");
			}

			@media (prefers-color-scheme: dark) {
				background-image: url("../img/icon-zoomin-inv.svg");
			}
		}

		&-zoomout {
			background-image: url("../img/icon-zoomout.svg");
		
			[data-color-scheme="light"] & {
				background-image: url("../img/icon-zoomout.svg");
			}
		
			[data-color-scheme="dark"] & {
				background-image: url("../img/icon-zoomout-inv.svg");
			}

			@media (prefers-color-scheme: dark) {
				background-image: url("../img/icon-zoomout-inv.svg");
			}
		}

		&[disabled],
		&[disabled]:hover {
			opacity: 0.7;
			cursor: default;
			background-color: #999;
		}
	}

	&-scale {
		position: absolute;
		left: 5px;
		bottom: 5px;
		background-color: rgba(255, 255, 255, 0.7);
		color: #333;
		font-size: 0.75rem;
		border: solid 1px #333;
		border-top: none;
		padding: 2px 4px;
		line-height: 1;
		z-index: 70;
		text-align: center;

		[data-color-scheme="light"] & {
			background-color: rgba(255, 255, 255, 0.7);
			color: #333;
			border-color: #333;
		}

		[data-color-scheme="dark"] & {
			background-color: rgba(0, 0, 0, 0.7);
			color: #fff;
			border-color: #fff;
		}

		@media (prefers-color-scheme: dark) {
			background-color: rgba(0, 0, 0, 0.7);
			color: #fff;
			border-color: #fff;
		}
	}

	&-credits {
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 80;
		background-color: rgba(255, 255, 255, 0.7);
		color: #333;
		font-size: 0.625rem;
		padding: 2px 4px;
		line-height: 1;

		[data-color-scheme="light"] & {
			background-color: rgba(255, 255, 255, 0.7);
			color: #333;
		}

		[data-color-scheme="dark"] & {
			background-color: rgba(0, 0, 0, 0.7);
			color: #fff;
		}

		@media (prefers-color-scheme: dark) {
			background-color: rgba(0, 0, 0, 0.7);
			color: #fff;
		}
	}

	&-legend {
		nav {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: nowrap;
			overflow: hidden;
			gap: 0;
			height: 1.5rem;
			margin: -1.5rem 1rem 0;

			@media (min-width:960px) {
				display: none;
			}
		}

		button {
			border: none;
			padding: 0;
			width: 0.5rem;
			height: 0.5rem;
			min-width: 0.5rem;
			opacity: 0.5;
			margin: 0 0.3rem;
			overflow: hidden;
			text-indent: 2rem;
			background-color: #0d47a1;
			border-radius: 50%;
			transition-property: width, height, min-width, opacity, margin;
			transition-duration: 100ms;

			&[data-distance="9"] {
				width: 0;
				height: 0;
				min-width: 0;
				opacity: 0;
				margin: 0;
			}

			&[data-active] {
				width: 0.75rem;
				height: 0.75rem;
				min-width: 0.75rem;
				opacity: 1;
			}
		}

		dl {
			display: grid;
			grid-template-columns: 20% auto;
			grid-template-rows: auto;
			gap: 1.25rem;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			width: 100%;
			height: 100%;
			margin: 0;

			@media (max-width:959px) {
				display: flex;
				flex-wrap: nowrap;
				gap: 0;
				overflow-y: hidden;
				overflow-x: auto;
				scroll-snap-type: x mandatory;
				padding: 0 0 1.5rem;
			}
		}

		dt {
			aspect-ratio: 4/3;
			cursor: pointer;
			scroll-snap-align: start;
			margin-left: 1px;
			position: relative;

			@media (max-width:959px) {
				min-width: 50vw;
			}
		}

		dd {
			margin: 0;
			padding: 0 1.25rem;
			cursor: pointer;
			position: relative;
			background-size: cover;
			background-position: center;

			@media (max-width:959px) {
				min-width: 50vw;
			}

			&:hover {
				outline: dashed 2px #0D47A166;
			}

			center {
				text-align: left;
			}

			i {
				position: absolute;
				right: 0.5rem;
				top: 0.25rem;
				font-size: 0.75rem;
			}
		}

		dt[data-active] + dd {
			outline: dashed 2px #0D47A1;

			@media (max-width:959px) {
				outline: none;
			}
		}

		&-empty {
			overflow: hidden;
			width: 0;
			min-width: initial !important;
		}

		&-full {
			grid-column: auto / span 2;
			cursor: initial !important;

			@media (max-width:959px) {
				min-width: 100vw !important;
			}

			&:hover {
				outline: none !important;
			}
		}

		&-photo {
			display: block;
			background-color: rgba(0,0,0,0.667);
			object-fit: contain;
			object-position: center;
			width: 100%;
			height: 100%;
		}

		&-icon {
			position: absolute;
			width: 4rem;
			height: 4rem;
			left: 0.5rem;
			top: 0.5rem;
		}

		&-description {
			display: flex;
			align-items: center;
		}

		&-optional {
			background-color: #00C85333;
			padding: 0 1.25rem;
		}

		&-detour,
		&-warning {
			background-color: #FFD60033;
			padding: 0 1.25rem;
		}

		&-hotspot {
			background-color: #2e7d3233;
		}

		&-train {
			background-color: #F57C0033;
			padding: 0 1.25rem;
		}

		&-tram {
			background-color: #D32F2F33;
			padding: 0 1.25rem;
		}

		&-bus {
			background-color: #03A9F433;
			padding: 0 1.25rem;
		}

		&-ferry {
			background-color: #7CB34233;
			padding: 0 1.25rem;
		}

		&-car {
			background-color: #0D47A133;
			padding: 0 1.25rem;
		}
	}
}