/*
	menu
*/
@media all {
	.navigation {
		transition-property: transform;
		transition-duration: 300ms;
		transform: translate(-100%, 0);
		background: #fff none;
		bottom: 4rem;
		left: 0;
		margin: 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		padding: 0;
		position: absolute;
		right: 0;
		top: 4rem;
		z-index: 5;

		.app-banners {
			background-color: #f6f6f6;
			line-height: 1.5;
			padding: 15px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0;
			text-align: center;

			span {
				display: inline-block;
				flex: 1 1 100%;
			}

			img {
				display: inline-block;
				vertical-align: middle;
				margin: 15px 15px 0 0;
			}
		}

		article {
			display: none;
			clear: both;
			background-color: #f6f6f6;
			background-size: cover;
			background-position: center;
			padding: 15px;

			h2 {
				margin-top: 0;
				margin-bottom: 1rem;

				small {
					font-size: 0.889em;
				}
			}

			.btn {
				float: right;
			}

			&:after {
				content: '';
				display: table;
				clear: both;
			}
		}

		menu {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: block;
				width: 100%;
				padding: 0;
				min-height: 3.667rem;

				a {
					display: flex;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: stretch;
					min-height: 3.667rem;
					position: relative;
					font-size: 1.166666666666667rem;
					text-decoration: none;
				}
			}

			li.no-results {
				background-color: #fff;
				padding: 2em;
				text-align: center;
			}
		}
	}

	body.screen-menu .navigation {
		transform: translate(0, 0);
	}
}
@media (min-width:992px) {
	.navigation {
		transform: translate(100%, 0);
		left: 50%;

		.app-banners {
			background-color: Transparent;
			flex-wrap: nowrap;
			justify-content: flex-start;
			text-align: left;

			span {
				flex: 1 1 auto;
			}

			img {
				margin: 0 0 0 15px;
			}
		}

		article {
			display: block;
		}
	}

	body.screen-menu .navigation {
		transform: translate(0, 0);
	}
}
@media print {
	.navigation {
		transform: none !important;
		position: static !important;
		display: inline !important;
	}
}
