/*
	menu
*/
@media all {
	.navigation {
		@include transition-property(transform);
		@include transition-duration(300ms);
		@include translate(-100%, 0);
		background: #fff none;
		bottom: 4rem;
		left: 0;
		margin: 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		padding: 0;
		position: absolute;
		right: 0;
		top: 4rem;
		z-index: 5;

		p {
			img {
				display: none;
			}
			margin: 0;
			padding: 1em;
		}

		.app-banners {
			line-height: 1.5;

			span {
				display: block;
				width: 280px;
			}

			img {
				display: inline-block;
				vertical-align: middle;
			}
		}

		menu {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: block;
				width: 100%;
				padding: 0;
				min-height: 3.667rem;

				a {
					display: flex;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: stretch;
					min-height: 3.667rem;
					position: relative;
					font-size: 1.166666666666667rem;
					text-decoration: none;
				}
			}

			li.no-results {
				background-color: #fff;
				padding: 2em;
				text-align: center;
			}
		}
	}

	body.screen-menu .navigation {
		@include translate(0, 0);
	}
}
@media (orientation: landscape) {
	.navigation {
		@include translate(100%, 0);
		left: 50%;

		p {
			float: left;
			width: 49%;
		}

		.app-banners {
			float: right;
			width: 49%;

			span {
				display: inline-block;
			}

			img {
				height: 32px;
				width: auto;
			}
		}
	}

	body.screen-menu .navigation {
		@include translate(0, 0);
	}
}
