.overview {
	transition-property: transform;
	transition-duration: 300ms;
	transform: translate(-110%, 0);
	background: #b4d0d1;
	bottom: 4rem;
	padding: 0;
	position: absolute;
	left: 0;
	top: 4rem;
	width: 100%;
	z-index: 6;

	&:before {
		display: block;
		content: "loading map...";
		position: absolute;
		z-index: 0;
		left: 2rem;
		right: 2rem;
		text-align: center;
		top: 50%;
		color: #fff;
	}

	[data-color-scheme="light"] & {
		background-color: #b4d0d1;
	}

	[data-color-scheme="dark"] & {
		background-color: #324242;
	}

	@media (prefers-color-scheme: dark) {
		background-color: #324242;
	}

	@media (min-width:960px) {
		width: 50%;
	}

	@media print {
		transform: translate(0, 0);
		position: relative !important;
		top: auto !important;
		right: auto !important;
		bottom: auto !important;
		left: auto !important;
		page-break-before: always;
		height: 20cm !important;
		width: 20cm !important;
		margin: 1cm auto !important;

		button {
			visibility: hidden !important;
		}
	}

	body.screen-overview & {
		transform: translate(0, 0);
	}

	body.screen-menu & {
		@media (min-width:960px) {
			transform: translate(0, 0);
		}
	}
}