/*
	3d stage

	The base size of the calculations was arbitrarily picked as 500, but the resulting projection can be arbitrarily large.

	tan A = Y / X
	tan(22.5) = 300 / X
	tan(22.5) / 300 = 1 / X
	300 / tan(22.5) = X

	Z = 1.207106781186548 * X

	scale = aspect * (360 / fov) * 0.3

	translateZ(calc(-1.207106781186548 * 500px + 2px))

	translateZ(-601.553390593274px)
*/
#photocylinder {
	margin: 0;
	padding: 0;
	position: relative;

	* {
		box-sizing: border-box;
	}

	li {
		display: inline;
		margin: 0;
		padding: 0;

		a {}

		img {
			margin: 0 0 0.33rem;
			display: inline-block;
			height: 96px;
			width: auto;
			vertical-align: top;
		}
	}
}

.photocylinder {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	margin: 0;
	perspective: 500px;

	img {
		visibility: hidden;
		width: 100%;
		height: auto;
	}

	&-fallback img {
		visibility: visible;
		height: 100%;
		width: auto;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) scale(1, 1);
	}

	&-obj {
		&-row {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 500px;
			height: 1200px;
			transform: translate(-50%, -50%) scale(1) rotateY(0deg);
			transform-style: preserve-3d;
			position: relative;
		}

		&-col {
			background-size: 800% auto;
			background-position: 0 50%;
			background-repeat: no-repeat;
			display: block;
			position: absolute;
			transform-style: preserve-3d;
			perspective-origin: 50% 50%;
			backface-visibility: hidden;
			width: 100%;
			height: 100%;

			&-0 {
				transform: rotateY(0deg) translateZ(-601.553390593274px);
				background-position: 0 50%;
			}

			&-1 {
				transform: rotateY(-45deg) translateZ(-601.553390593274px);
				background-position: -500px 50%;
			}

			&-2 {
				transform: rotateY(-90deg) translateZ(-601.553390593274px);
				background-position: -1000px 50%;
			}

			&-3 {
				transform: rotateY(-135deg) translateZ(-601.553390593274px);
				background-position: -1500px 50%;
			}

			&-4 {
				transform: rotateY(-180deg) translateZ(-601.553390593274px);
				background-position: -2000px 50%;
			}

			&-5 {
				transform: rotateY(-225deg) translateZ(-601.553390593274px);
				background-position: -2500px 50%;
			}

			&-6 {
				transform: rotateY(-270deg) translateZ(-601.553390593274px);
				background-position: -3000px 50%;
			}

			&-7 {
				transform: rotateY(-315deg) translateZ(-601.553390593274px);
				background-position: -3500px 50%;
			}
		}
	}

	&-180 .photocylinder-obj-col {
		background-size: 400% auto;
	}

	&-360 .photocylinder-obj-col {
		background-size: 800% auto;
	}

	&-busy {
		border-radius: 5px;
		opacity: 0.8;
		background: #000 url("../img/busy.gif") no-repeat 50% 50%;
		height: 48px;
		left: 50%;
		margin: -24px;
		position: absolute;
		top: 50%;
		width: 48px;
		z-index: 20001;

		&-fixed {
			position: fixed;
		}

		&-passive {
			visibility: hidden;
		}

		&-active {
			visibility: visible;
		}
	}

	&-popup {
		transition: opacity ease 500ms;
		background: rgba(0, 0, 0, 0.9);
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		margin: 0;
		padding: 0;
		overflow: hidden;
		position: absolute;
		text-align: center;
		z-index: 20000;

		* {
			box-sizing: border-box;
		}

		&-passive {
			opacity: 0;
		}

		&-active {
			opacity: 1;
		}
	}

	&-closer,
	&-locator {
		width: 3rem;
		height: 3rem;
		right: 1rem;
		top: 1rem;
		overflow: hidden;
		text-indent: 150%;
		background: #0D47A1;
		color: #fff;
		cursor: pointer;
		font-weight: bold;
		position: absolute;
		text-align: left;
		white-space: nowrap;
		text-decoration: none;
		z-index: 2;

		[data-color-scheme="light"] & {
			background: #0D47A1;
			color: #fff;
		}

		[data-color-scheme="dark"] & {
			background-color: #FFB74D;
			color: #000;
		}

		@media (prefers-color-scheme: dark) {
			background-color: #FFB74D;
			color: #000;
		}

		&:before {
			content: "";
			display: block;
			background-image: url("../img/close.svg");
			background-size: 24px 24px;
			width: 24px;
			height: 24px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -12px;
			margin-top: -12px;

			[data-color-scheme="light"] & {
				background-image: url("../img/close.svg");
			}

			[data-color-scheme="dark"] & {
				background-image: url("../img/close_inv.svg");
			}

			@media (prefers-color-scheme: dark) {
				background-image: url("../img/close_inv.svg");
			}
		}

		&:hover {
			background: #ff9800;

			[data-color-scheme="light"] & {
				background: #ff9800;
				color: #fff;
			}

			[data-color-scheme="dark"] & {
				background-color: #BBDEFB;
				color: #000;
			}
	
			@media (prefers-color-scheme: dark) {
				background-color: #BBDEFB;
				color: #000;
			}
		}
	}

	&-locator {
		right: 5rem;
		display: none;
		@media (max-width:959px) {
			display: block;
		}

		&:before {
			background-image: url("../img/map_2.svg");

			[data-color-scheme="light"] & {
				background-image: url("../img/map_2.svg");
			}

			[data-color-scheme="dark"] & {
				background-image: url("../img/map_2_drk.svg");
			}

			@media (prefers-color-scheme: dark) {
				background-image: url("../img/map_2_drk.svg");
			}
		}
	}
}
