.sign {
	background-color: #F57C00;
	color: #FFF;
	flex: 1 1 auto;
	display: inline-block;
	padding: 0.5rem 0.3rem 0.2rem;
	border: solid 1px #fff;
	line-height: 1.5rem;
	z-index: 1;
	position: relative;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;

	[data-color-scheme="light"] & {
		background-color: #F57C00;
		color: #FFB74D;
		border: solid 1px #fff;
	}

	[data-color-scheme="dark"] & {
		background-color: #212121;
		color: #FFF;
		border: solid 1px #000;
	}

	@media (prefers-color-scheme: dark) {
		background-color: #212121;
		color: #FFB74D;
		border: solid 1px #000;
	}

	@media (max-width: 959px) {
		font-size: 0.875rem;
	}

	header.subtitle & {
		font-size: 0.875rem;
	}

	&:before {
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
		content: '';
		width: 1.5rem;
		height: 1.5rem;
		display: block;
		margin: -1px auto 0;
	}

	&.from,
	&.to,
	&.via {
		display: none;
	}

	&.train {
		background-color: #F57C00;

		&:before {
			background-image: url("../img/sign_train_3.svg");
		}

		[data-color-scheme="light"] & {
			background-color: #F57C00;
			color: #fff;

			&:before {
				background-image: url("../img/sign_train_3.svg");
			}
		}

		[data-color-scheme="dark"] & {
			background-color: #F57C0033;
			color: #FFCC80;

			&:before {
				background-image: url("../img/sign_train_3_inv.svg");
			}
		}

		@media (prefers-color-scheme: dark) {
			background-color: #F57C0033;
			color: #FFCC80;

			&:before {
				background-image: url("../img/sign_train_3_inv.svg");
			}
		}

	}

	&.bus {
		background-color: #03A9F4;

		&:before {
			background-image: url("../img/sign_bus.svg");
		}

		[data-color-scheme="light"] & {
			background-color: #03A9F4;
			color: #fff;

			&:before {
				background-image: url("../img/sign_bus.svg");
			}
		}

		[data-color-scheme="dark"] & {
			background-color: #03A9F433;
			color: #81D4FA;

			&:before {
				background-image: url("../img/sign_bus_inv.svg");
			}
		}

		@media (prefers-color-scheme: dark) {
			background-color: #03A9F433;
			color: #81D4FA;

			&:before {
				background-image: url("../img/sign_bus_inv.svg");
			}
		}
	}

	&.ferry {
		background-color: #7CB342;

		&:before {
			background-image: url("../img/sign_water_transport.svg");
		}

		[data-color-scheme="light"] & {
			background-color: #7CB342;
			color: #fff;

			&:before {
				background-image: url("../img/sign_water_transport.svg");
			}
		}

		[data-color-scheme="dark"] & {
			background-color: #7CB34233;
			color: #C5E1A5;

			&:before {
				background-image: url("../img/sign_water_transport_inv.svg");
			}
		}

		@media (prefers-color-scheme: dark) {
			background-color: #7CB34233;
			color: #C5E1A5;

			&:before {
				background-image: url("../img/sign_water_transport_inv.svg");
			}
		}
	}

	&.tram {
		background-color: #D32F2F;

		&:before {
			background-image: url("../img/sign_tramway.svg");
		}

		[data-color-scheme="light"] & {
			background-color: #D32F2F;
			color: #fff;

			&:before {
				background-image: url("../img/sign_tramway.svg");
			}
		}

		[data-color-scheme="dark"] & {
			background-color: #D32F2F33;
			color: #EF9A9A;

			&:before {
				background-image: url("../img/sign_tramway_inv.svg");
			}
		}

		@media (prefers-color-scheme: dark) {
			background-color: #D32F2F33;
			color: #EF9A9A;

			&:before {
				background-image: url("../img/sign_tramway_inv.svg");
			}
		}
	}

	&.car {
		background-color: #0D47A1;

		&:before {
			background-image: url("../img/sign_car.svg");
		}

		[data-color-scheme="light"] & {
			background-color: #0D47A1;
			color: #fff;

			&:before {
				background-image: url("../img/sign_car.svg");
			}
		}

		[data-color-scheme="dark"] & {
			background-color: #0D47A133;
			color: #90CAF9;

			&:before {
				background-image: url("../img/sign_car_inv.svg");
			}
		}

		@media (prefers-color-scheme: dark) {
			background-color: #0D47A133;
			color: #90CAF9;

			&:before {
				background-image: url("../img/sign_car_inv.svg");
			}
		}

	}

	&.start {
		order: 1;
	}

	&.finish {
		order: 3;
	}

	&.park {
		background-color: #1B5E20;
		color: #F0F4C3;
		order: 2;

		&:before {
			display: none;
		}

		[data-color-scheme="light"] & {
			background-color: #1B5E20;
			color: #F0F4C3;
		}

		[data-color-scheme="dark"] & {
			background-color: #1B5E2033;
			color: #E6EE9C;
		}

		@media (prefers-color-scheme: dark) {
			background-color: #1B5E2033;
			color: #E6EE9C;
		}

		em {
			display: block;
			font-size: 1rem;
		}
	}
}

.meta {
	display: none;
}