#sorting {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 10px;
	width: 100%;
	min-height: 4rem;

	label {
		display: inline-block;
		flex: 1 1 50%;
		padding: 0 10px;

		span {
			display: none;
		}

		input,
		select {
			border-radius: 0;
			border: none;
			border-bottom: solid 1px #E0E0E0;
			padding: 0;
			margin: 0;
			font-size: 0.875rem;
			background-color: #FFF;
			background-repeat: no-repeat;
			background-position: right center;
			background-size: 1.5rem 1.5rem;
			width: 100%;
			height: 2.6rem;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			[data-color-scheme="dark"] & {
				border-bottom: solid 1px #212121;
				background-color: #000;
				color: #fff;
			}

			@media (prefers-color-scheme: dark) {
				border-bottom: solid 1px #212121;
				background-color: #000;
				color: #fff;
			}

			&:focus {
				border-bottom: solid 2px #1976D2;

				[data-color-scheme="dark"] & {
					border-bottom: solid 2px #FFB74D;
				}

				@media (prefers-color-scheme: dark) {
					border-bottom: solid 2px #FFB74D;
				}
			}
		}

		input {
			background-image: url("../img/button_delete_2.svg");
			padding-left: 15px;

			[data-color-scheme="dark"] & {
				background-image: url("../img/button_delete_2_inv.svg");
				background-position: right 10px center;

				&::placeholder {
					color: #9E9E9E;
				}
			}

			@media (prefers-color-scheme: dark) {
				background-image: url("../img/button_delete_2_inv.svg");
				background-position: right 10px center;

				&::placeholder {
					color: #9E9E9E;
				}
			}
		}

		select {
			background-image: url("../img/button_backward_2.svg");
			padding-left: 15px;

			[data-color-scheme="dark"] & {
				background-image: url("../img/button_backward_2_inv.svg");
				background-position: right 10px center;
			}

			@media (prefers-color-scheme: dark) {
				background-image: url("../img/button_backward_2_inv.svg");
				background-position: right 10px center;
			}
		}
	}

	.searching-label {
		flex: 1 1 100%;

		[data-color-scheme="dark"] & {
			margin-bottom: 10px;
		}

		@media (prefers-color-scheme: dark) {
			margin-bottom: 10px;
		}
	}

	.filtering-label,
	.sorting-label {
		flex: 0 1 50%;
		max-width: 50%;
	}
}
